*{
    margin: 0;
    padding:0;
}
@font-face{
    font-family: alk;
    src: url(alk_life.otf);
}
@font-face{
    font-family:dejavu;
    src:url(dejavu.otf)
}
ul li {
   
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
 /*header+navigation*/ 
header{
    height:200px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    
}
.navigation{
    display: flex;
    
}
.nav{
    margin: 0 38px; 
}
.nav a{
   font-weight: 400;
   color: rgb(118, 116, 113);
   line-height: 30px;
   font-family: alk;
   
   
}
.nav-1 a{
    color: rgba(166, 43, 40, 1);
}

/*main*/ 
.center{
    display: flex;
    justify-content: center;
}
.pic-1{
   display: flex;
   margin-top: 160px;
}
/*article*/ 

.sect-1{
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-left: 85px;

}
.book{
    margin-left: 40px;
    color: rgba(113, 114, 118, 1);
    font-size: 32px;
    font-family: dejavu;
}
.pics{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

.task{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.pics .src{
    margin: 0 20px;
}
/*spans*/ 
.art-1{
  color: rgba(113, 114, 118, 1);
  font-size: 24px;
  font-family: dejavu;
}
.art-2{
    color: rgba(0, 0, 0, 1);
    font-family: alk;
    font-size: 24px;
}
.art-3 {
    font-family: dejavu;
    font-size: 24px;
}
/*article-2*/ 
.sect-2{
    display: flex;
    align-items: center;
    margin-top: 160px;
    margin-left: 54px;
}
.writer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.writer img{
    margin: 0 20px;
}
/*footer*/
footer{
    height: 248px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    padding: 0 84px;
}
footer .about{
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    
}
.contact{
    font-size: 24px;
    font-family: alk;
    margin:0 0 8px;
}
.logos{
    margin-top: 71px;
    display: flex;
    
    
}
.icon{
    margin: 0 21px;
}

